doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrapper
      .content
        header.page-header
        main.page-content
          .services
            .services__row-top.m--b10
              .row.row--jc-sb.container
                h2.text.text--blueLight24 Services
                ul.breadcrumbs
                  li.breadcrumbs__item
                    a.text.text--grayLowLight12(href="#") Home
                  li.breadcrumbs__item
                    span.text.text--grayLowLight12 /
                  li.breadcrumbs__item
                    a.text.text--grayLowLight12(href="#") Services
            .container        
              .services__img-wrap
                img.services__img(src="#" width="855" height="510")
              h2.text.text--center.text--grayMedium30.text--tw600 Business Consultancy
              p.text.text-black16 We provide business consultancy services to companies worldwide including small and multi national companies
              h2.text.text--center.text--grayMedium30.text--tw600 Financial audit
              p.text.text-black16 We can provide a financial audit of your company and review costs and profit margins for your company
              h2.text.text--center.text--grayMedium30.text--tw600 Procurement Services
              p.text.text-black16 Reviewing your supplier database can improve the costs of your business, ensuring you have the correct suppliers are vital. We can help in supplier reviews and performance monitoring
              h2.text.text--center.text--grayMedium30.text--tw600 Staff
              p.text.text-black16 Staff are vital to any companies success we can review, monitor and provide reports on performance
              h2.text.text--center.text--black36.text--fw600 Call us today regarding your business
            .contact-info
              .container
                h2.text.text--center.text--white50.text--fw200 Still Have Some Questions Left?
                h2.text.text--center.text--white50.text--fw600 Call us Tel: 01908 315501
                p.text.text--center.text--white16.text--fw300 Feel free to contact our support team to learn more about the services provided by us and multiple offers for Your business!
                .b.b--w200
                  a.button.button--p-tb18.button--fill-blueLight(href="#") Call us today
      footer.page-footer
        .footer-content

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
