doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrapper
      .content
        header.page-header
        main.page-content
          .services
            .services__content.m--b20.container        
              .services__img-wrap
                img.services__img(src="%=static=%img/content/services-workplace-img.jpg" width="855" height="491")
              h2.text.m--b20.text--center.text--grayMedium30.text--tw600 Business Consultancy
              p.text.m--b20.text-black16 We provide business consultancy services to companies worldwide including small and multi national companies
              h2.text.m--b20.text--center.text--grayMedium30.text--tw600 Financial audit
              p.text.m--b20.text-black16 We can provide a financial audit of your company and review costs and profit margins for your company
              h2.text.m--b20.text--center.text--grayMedium30.text--tw600 Procurement Services
              p.text.m--b20.text-black16 Reviewing your supplier database can improve the costs of your business, ensuring you have the correct suppliers are vital. We can help in supplier reviews and performance monitoring
              h2.text.m--b20.text--center.text--grayMedium30.text--tw600 Staff
              p.text.m--b20.text-black16 Staff are vital to any companies success we can review, monitor and provide reports on performance
              h2.text.text--center.text--black36.text--fw600 Call us 
                span.text.text--blueLowLight36 today 
                | regarding your business
      footer.page-footer
        .footer-content

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
