.blog__search
  padding-bottom 30px
  
  border-bottom 2px solid #f6f6f6

.blog__search-input-wrap
  position relative
  
.blog__search-input
  reset-input()
  
  padding-top 15px
  padding-left 22px
  padding-right 50px
  padding-bottom 15px
  
  background-color #f6f6f6
  
  border 2px solid #f6f6f6
  border-radius 30px
  
  transition 0.2s ease
  &:focus
    background-color white
    
.blog__search-button
  reset-button()
  
  position absolute
  top 0
  right 10px
  bottom 0
  
  box-sizing border-box
  display flex
  justify-content center
  align-items center
  width 36px
  height 36px
  margin auto
  
  background-color blueLight
  
  border-radius 50%
  
  transition 0.2s ease
  &:hover
    background-color gray
    
.blog__mail
  padding 37px 39px
  
  background-color white
  box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.3);
  
  border-radius 5px
    
.blog__border
  height 2px
  
  background-color #f6f6f6
  
.blog__calendar-wrap
  .ui-datepicker
    width 100%
    
.blog__post-link
  transition 0.2s ease
  &:hover
    color blueLight
  &--inline
    &:hover
      color gray
  &--block
    display block
      
.blog__post-button
  box-sizing border-box
  display flex
  justify-content center
  align-items center
  width 63px
  height 35px
  
  text-decoration none
  
  background-color #f6f6f6
  
  border-radius 30px
  
  transition 0.2s ease
  &:hover
    background-color blueLight
    .blog__post-comment-icon
      .comment
        fill white
    .blog__post-butto-text
      color white

.blog__post-comment-icon
  width 16px
  height 16px
  .comment
    width 16px
    height 16px
    
    fill grayLowLight
    
    transition 0.2s ease
    
.blog__post-butto-text
  transition 0.2s ease
  
.blog__archive-select-wrap
  position relative
  
  border-radius 30px
  
  transition 0.2s ease
  &:hover
    background-color #f6f6f6
  
.blog__archive-select
  reset-input()
  
  position relative
  z-index 10
  
  padding 15px 18px
  
  border 2px solid #f6f6f6
  border-radius 30px
  
  cursor pointer
  
  appearance none
  
.blog__archive-select-icon
  position absolute
  top 0
  right 15px
  bottom 0
  
  display block
  width 11px
  height 18px
  margin auto
  &::before,
  &::after
    center-absolute()
    
    content ''
    
    z-index 5
    
    width 8px
    height 1px
    
    background-color grayLowLight
  &::before
    left -5px
    
    transform rotate(45deg)
  &::after
    right -5px
    
    transform rotate(-45deg)