.breadcrumbs
  padding 34px 0
  
  background-color #f6f6f6
  
.breadcrumbs__link
  transition 0.2s ease
  &:hover
    color blueLight
  &--active
    color grayLowLight
    
    cursor default
    &:hover
      color grayLowLight
  
.breadcrumbs__slash
  margin 0 5px
  
@media(max-width 600px)
  .breadcrumbs
    margin-bottom 30px !important