.contact-us__form-list
  reset-list()
  
.contact-us__form-list-items
  margin-bottom 10px
  &:last-child
    margin-bottom 0

.contact-us__form-list-label
  display block
  
.contact-us__form-input
  reset-input()
  
  padding 15px 18px
  
  background-color #f6f6f6
  
  border 2px solid #f6f6f6
  border-radius 10px
  
  transition 0.2s ease
  &:focus
    background-color white
  &--textarea
    height 240px
    
    resize none