.home__features
  padding-bottom 90px
  
  background-color #f9f9f9

.home__features-row-top
  transform translateY(-115px)

.home__features-cart
  box-sizing border-box
  padding 45px 20px 50px 20px
  
  background-color white
  box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.3);
  
  border-radius 6px
  
.home__deal-icon,
.home__experience-icon,
.home__business-icon
  width 46px
  height 46px
  .deal,
  .experience,
  .business
    width 46px
    height 46px
    
    fill blueLight
      
.home__features-border
  width 93%
  height 1px
  
  background-color #e8e8e8
  
.home__features-button
  transition 0.2s ease
  &:hover
    background-color blueLight
  &--about
    &:hover
      background-color gray
    
.home__light-icon
  display block
  width 26px
  height 46px
  .light
    width 26px
    height 46px
    
    fill blueLight
    
.home__like-icon
  display block
  width 42px
  height 46px
  .like
    width 42px
    height 46px
    
    fill blueLight
    
.home__mechanism-icon
  display block
  width 49px
  height 46px
  .mechanism
    width 49px
    height 46px
    
    fill blueLight
    
.home__about
  padding-top 100px
  padding-bottom 100px
  
.home__about-cart
  padding-bottom 40px
  
  background-color white
  box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.3);
  
  border-radius 6px
  
.home__about-cart-img-wrap
  height 260px
  
.home__about-cart-img
  display block
  
.home__about-cart-content
  padding 0 30px
  
.home__feedback
  height 435px
  
  background-image url('%=static=%content/feedback-bg.jpg')
  background-repeat no-repeat
  background-size cover
  
.home__feedback-button-wrap
  position relative
  
.home__feedback-button
  transition 0.2s ease
  &:hover
    background-color grey
  
.home__feedback-tel-icon
  position absolute
  top -3px
  left 25px
  bottom 0
  
  display block
  width 10px
  height 13px
  margin auto
  
  transform rotate(7deg)
  .tel
    width 10px
    height 13px
    
    fill white