.page-header
  position relative
  
.page-header__row-top
  padding 20px 0
  &--home
    position absolute
    top 0
    left 0
    right 0
    z-index 15

    border-bottom 1px solid rgba(255, 255, 255, 0.3)
  &--inner
    background-color #19191a