.search__button
  display flex
  justify-content center
  align-items center
  width 14px
  height 14px
  
.search__icon
  display block
  width 14px
  height 14px
  .search
    width 14px
    height 14px
    
    fill white
    
    transition 0.2s ease
  &:hover
    .search
      fill blueLight