.services__img-wrap
  width 855px
  height 491px
  margin 0 auto
  margin-bottom 20px

.services__img
  height 100%
  
@media(min-width 2600px)
  .services
    &--4k
      margin-top auto
  
@media(max-width 900px)
  .services__img-wrap
    width auto
    height auto