.slider
  position relative
  z-index 10
  
.owl-carousel.owl-loaded
  position relative
  z-index 10
  
.owl-dots
  position absolute
  left: 0;
  right: 0;
  bottom: 170px;

.owl-theme .owl-dots .owl-dot
  &:active
    outline none

.owl-theme .owl-dots .owl-dot.active
  outline none
  span
    background-color blueLight
    
.slider__slide-text-block
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  
.slider__button
  transition 0.2s ease
  &:hover
    background-color #1a2b40