.row
  row()
  &--reverse
    row-reverse()
  &--jc-fs
    row-jc-fs()
  &--jc-fe
    row-jc-fe()
  &--jc-c
    row-jc-c()
  &--jc-sa
    row-jc-sa()
  &--jc-sb
    row-jc-sb()
  &--ai-c
    row-ai-c()
  
  &--wrap
    wrap()
    
.grow
  flex-grow 1
  
@media(max-width 1020px)
  .row
    &--media1020-block
      display block
      
@media(max-width 768px)
  .row
    &--media768-block
      display block
      
@media(max-width 640px)
  .row
    &--media640-block
      display block